@charset "ISO-8859-1";

/* outline: 3px dotted red; */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
     
}

/* background for login temp */
#body-5 {
	background-image: url('https://images.unsplash.com/reserve/EnF7DhHROS8OMEp2pCkx_Dufer%20food%20overhead%20hig%20res.jpg?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1357&q=80');
    background-repeat: repeat;
    background-size: cover;
}

#registerbg {
    background-color: rgba(89, 93, 89, .5);
    color: white;
}

label {
	color: #00B3B3;
}

.errors {
	color: red;
}

#morph {
	position:absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	animation: animate 35s ease-in infinite;
	background-size: cover;
}

@keyframes animate {
	0%, 100%{
	background-image: url('https://images.unsplash.com/photo-1552332386-f8dd00dc2f85?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80');
	background-size: space;
	}
	20% {
	background-image: url('cuttingboard.png');
	background-size: space;
	}
	40% {
	background-image: url('https://images.unsplash.com/photo-1499125562588-29fb8a56b5d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1489&q=80');
	background-size: space;
	}
	60% {
	background-image: url('sushi.png');
	background-size: space;
	}
	80%{
	background-image: url('powder.png');
	background-size: space;
	}
}













